.weather
	.weather__item.conditions
		p.conditions__point Дома
		p.conditions__deg +23
	.weather__item.conditions
		p.conditions__point За окном
		p.conditions__deg
			| +19
			span.conditions__icon
				+icon('cloud-drizzle', 'weather', 'Дождь', ['icon--cloud-drizzle'])