header.header
	.header__wrapper
		img.header__logo(src="images/smashingmagazine.png", alt="Smashing Magazine")
		h1.header__title Starry Summer Nights, Unexplored Worlds, And… Ice Cream! 
			span.is-dark-red (July&nbsp;2017&nbsp;Wallpapers)