$ff_arialmt: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
$ff_ya_sans: 'Yandex Sans Display', "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;

$m_padding_lr: 5%;
$m_menu_mob_width: (256 / 375) * 100%;

$m_block_radius_mob: 20px;
$m_primary_padding_mob: 20px;

$m_control_width: 200px;

$c_header_border: #F0F0F0;
$c_footer_link_desktop: #858585;
$c_button_ok: #FFD93E;