.info
	.info__wrapper
		p.info__text July is almost here, and that means, well, new wallpapers. It’s been nine years already since we embarked on this mission to welcome the new month with a fresh batch of desktop eye candy, with wallpapers that are a bit more distinctive as the usual crowd. And it wasn’t any different this time around.