- let pictures = [];

- pictures.push({filename: 'almost-heaven', title: 'Almost Heaven'})
- pictures.push({filename: 'cactus-hug', title: 'Cactus Hug'})
- pictures.push({filename: 'cool', title: 'Cool'})
- pictures.push({filename: 'eternal-summer', title: 'Eternal Summer'})
- pictures.push({filename: 'fill-it-the-rest-of-the-way', title: 'Fill It The Rest Of The Way'})
- pictures.push({filename: 'fire-camp', title: 'Fire Camp'})
- pictures.push({filename: 'first-man-on-the-moon', title: 'First Man On The Moon'})
- pictures.push({filename: 'go-to-holidays', title: 'Go To Holidays'})
- pictures.push({filename: 'green-wheat-field', title: 'Green Wheat Field'})
- pictures.push({filename: 'happy-birthday-beatrix', title: 'Happy Birthday Beatrix'})
- pictures.push({filename: 'its-dusk-find-yourself', title: 'Its Dusk Find Yourself'})
- pictures.push({filename: 'keep-moving-forward', title: 'Keep Moving Forward'})
- pictures.push({filename: 'melting-july', title: 'Melting July'})
- pictures.push({filename: 'memories-in-july', title: 'Memories In July'})
- pictures.push({filename: 'road-trip-in-july', title: 'Road Trip In July'})
- pictures.push({filename: 'ship-in-a-bottle-wreck', title: 'Ship In A Bottle Wreck'})
- pictures.push({filename: 'stripes-stripped', title: 'Stripes Stripped'})
- pictures.push({filename: 'summer-cannonball', title: 'Summer Cannonball'})
- pictures.push({filename: 'sweet-summer', title: 'Sweet Summer'})
- pictures.push({filename: 'taste-like-summer', title: 'Taste Like Summer'})
- pictures.push({filename: 'tutti-frutti', title: 'Tutti Frutti'})
- pictures.push({filename: 'whats-your-hue', title: 'Whats Your Hue'})

+picture_list(pictures)