/*** Colors ***/
$interface: #ed1e00;
$mobile: #ffce00;
$design: #a05daf;

$october: #de913f;
$november: #3abfd3;
$december: #2d84ce;

$date-time-bg: #5a5a5a;

/*** Dimentions ***/
$school-name-height: 45px;