$bp-smartphone: 480px;
$bp-tablet-vertical: 768px;
$bp-desktop: 1024px;

$min-width: 320px;

$header-bg: #d8d8d8;
$header-text-color: #1f1f1f;
$header-dark-red: #d4392f;

$picture-title-color: #444;
$picture-bg: #ececec;

$footer-bg: #d3d3d3;
$footer-text-color: #444;
$footer-link-color: #0b7de2;

$preview-close-btn-color: white;