@import './logo';
@import './menu';

.header {
	position: sticky;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: (58 - 46) * 1px $m_padding_lr;
	background-color: #fff;

	@media screen and (min-width: 1024px) {
		position: static;
		justify-content: flex-start;
		border-bottom: 1px solid $c_header_border;
	}
}